<main>
  <table>
    <tr>
      <th>#</th>
      <th>Aika</th>
      <th>Koti</th>
      <th></th>
      <th>Vieras</th>
    </tr>
    <ng-container *ngFor="let t of games; let i = index">
      <tr [class.odd]="i % 2 === 0" (click)="selectedGame = t.id">
        <!--td>{{p.team}}</td-->
        <td>{{i + 1}}.</td>
        <td>{{t.schedule}}</td>
        <!--td>{{teamAbbr(t.home)}}</td-->
        <td><img style="height: 4em; width: auto" src="/assets/logos/{{teamLogo(t.home)}}"></td>
        <td *ngIf="t.homeGoals == null"> -</td>
        <td *ngIf="t.homeGoals != null">{{t.homeGoals}} - {{t.awayGoals}}</td>
        <td><img style="height: 4em; width: auto" src="/assets/logos/{{teamLogo(t.away)}}"></td>
        <!--td>{{teamAbbr(t.away)}}</t2d-->
      </tr>
      <ng-container *ngIf="t.id === selectedGame">
        <tr *ngFor="let e of eventsDict[t.id]; let eventIndex = index" [class.odd]="i % 2 === 0">
          <td colspan="3" style="text-align: right" [class.first]="eventIndex === 0">
            <app-game-event *ngIf="e.home == true" [event]="e" [playersDict]="playersDict"></app-game-event>
          </td>
          <td class="date">{{e.date | date: 'mm:ss'}}</td>
          <td [class.first]="eventIndex === 0">
            <app-game-event *ngIf="e.away == true" [event]="e" [playersDict]="playersDict"></app-game-event>
          </td>
        </tr>

        <tr *ngIf="bet && false">
          <td colspan="5">
            <app-bet [game]="games[i]" [teamPlayersDict]="teamPlayersDict"></app-bet>
          </td>
        </tr>

      </ng-container>

    </ng-container>
  </table>
</main>
