<ng-template [ngIf]="event.eventType === 'goal'">
  <strong><span class="full">#{{getNumber(event.player)}} </span>{{getPlayerName(event.player)}} {{event.score}}
  </strong><br>
  <ng-template [ngIf]="event.assist1 != null"><span class="full">#{{getNumber(event.assist1)}} </span>
    {{getPlayerName(event.assist1)}}</ng-template>
  <ng-template [ngIf]="event.assist2 != null">, <span class="full">#{{getNumber(event.assist2)}} </span>
    {{getPlayerName(event.assist2)}}
  </ng-template>
</ng-template>

<ng-template [ngIf]="event.eventType === 'penalty'">
        <span
          class="full">#{{getNumber(event.player)}} </span>{{getPlayerName(event.player)}} {{event.readable}} {{event.reason}}
</ng-template>
